<% @movies.each do |theater| %>
<ul>
			<%= theater[:theater][:name] %>
			<% theater[:movies].each do |movie| %>
			<li>
				<%= movie[:title] %>

			</li>
			<% end %>
			</ul> 
			<br>
			<% end %>
