<div id="section" class="image-parallax" style="background-image: url(<%=asset_path "dateNight_background.jpg"%>)">
      <div class="bg-overlay">
            <div class="slide-content light">
                  <div class="align-center">
                        <!-- Top Logo -->
                        <div class="top-logo">
                              <div class="scrollNormal custom-logo">
                                      <%=image_tag("transparent_customlogo.png", size: "140x140")%>
                              </div>
                              <div class="scrollDown custom-logo">
                                      <%=image_tag("logo2_welcome.png", size: "140x140")%>
                              </div> 
                        </div>
                        <div class="bx-wrapper">
                            <div class="bx-viewport">
                              <ul class="text-slide"> 
                                  <li style="float: none; list-style: none; position: absolute; width: 1600px; z-index: 0; display: none;">Welcome to <span class="text-color">4 Days</span> Out</li>
                                  <li style="float: none; list-style: none; position: absolute; width: 1600px; z-index: 0; display: none;">Let's <span class="text-color">get</span> planning</li>
                              </ul>
                              <div class="btn-group" id="menu">
                                    <div> 
                                        <%= render 'form' %>
                                    </div>
                              </div>
                            </div>
                            
                        </div>
                  </div>
            </div>
      </div>
</div>

