<div id="section" class="image-parallax" style="background-image: url(/assets/dateNight_background.jpg)">
      <div class="bg-overlay">
            <div class="slide-content light">
                  <div class="align-center">
                        <!-- Top Logo -->
                        <div class="top-logo">
                              <div class="scrollNormal">
                                    <!-- <a href="#"> -->
                                          <img width="140" height="140" alt="Agency" src="/assets/transparent_customlogo.png">
                                    <!-- </a> -->
                              </div>
                              <div class="scrollDown">
                                    <!-- <a href="#"> -->
                                          <img width="140" height="140" alt="Agency" src="/assets/logo2_welcome.png">
                                    <!-- </a> -->
                              </div> 
                        </div>
                        <div class="bx-wrapper">
                            <div class="bx-viewport">
                              <ul class="text-slide"> 
                                  <li style="float: none; list-style: none; position: absolute; width: 1728px; z-index: 0; display: none;">Welcome to <span class="text-color">4 Days</span> Out</li>
                                  <li style="float: none; list-style: none; position: absolute; width: 1728px; z-index: 0; display: none;">Let's <span class="text-color">get</span> planning</li>
                              </ul>
                              <div class="btn-group" id="menu">
                                    <div> 
                                        <%= render 'form' %>
                                    </div>
                                    <a href="/about" class="btn btn-1 img-btn wow fadeInRight ">About Us</a>
                              </div>
                            </div>
                            
                        </div>
                  </div>
            </div>
      </div>
</div>

