               
               <!-- What we do best -->
                  <div class="skills-wrap">
                        <div class="container">
                              <!-- Title row -->
                              <div class="row">
                                    <div class="col-md-12 big-title wow bounceIn">
                                          <h2>Restaurants Near Your Theater:</h2>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12 sub-title text-center wow slideInRight">
                                          <h3>What will you have for dinner after seeing <%=@movie%>?</h3>
                                    </div>
                              </div>
                              <!-- /Title row -->

                              <!-- Expertise progress bars -->
                              <%= render 'form' %>
                              <!-- /Expertise progress bars -->
                        </div>
                  </div>
                  <!-- /What we do best -->