<!-- Service wrap -->
<div class="about-wrap">
      <div class="parallax-layer">
            <div class="icons"></div>
      </div>
      <div class="parallax-layer">
            <div class="texture"></div>
      </div>
      <div class="container">
            <!-- Content row -->
            <div class="row">
                  <!-- Content box 1 -->
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box big ch-item wow fadeInLeft">
                              <div class="ch-info-wrap">
                                    <div class="ch-info">
                                          <div class="ch-info-front ch-img-1">
                                                <i class="fa fa-arrows-alt"></i>
                                          </div>
                                    </div>
                              </div>
                              <div class="content-box-info">
                                    <h4>Professional Work</h4>
                                    <p>
                                       Great development is the architecture that complements and supports the design. It is made by excellent use of white space, and plenty of it!
                                    </p>
                              </div>
                        </div>
                  </div>
                  <!-- /Content box 1 -->

                  <!-- Content box 2 -->
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box big ch-item wow fadeInDown">
                              <div class="ch-info-wrap">
                                    <div class="ch-info">
                                          <div class="ch-info-front ch-img-1">
                                                <i class="fa fa-eye"></i>
                                          </div>
                                    </div>
                              </div>
                              <div class="content-box-info">
                                    <h4>Unique Design</h4>
                                    <p>
                                       Great development is the architecture that complements and supports the design. It is made by excellent use of white space, and plenty of it!
                                    </p>
                              </div>
                        </div>
                  </div>
                  <!-- /Content box 2 -->

                  <!-- Content box 3 -->
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box big ch-item wow fadeInRight">
                              <div class="ch-info-wrap">
                                    <div class="ch-info">
                                          <div class="ch-info-front ch-img-1">
                                                <i class="fa fa-rocket"></i>
                                          </div>
                                    </div>
                              </div>
                              <div class="content-box-info">
                                    <h4>Superb Support</h4>
                                    <p>
                                       Great development is the architecture that complements and supports the design. It is made by excellent use of white space, and plenty of it!
                                    </p>
                              </div>
                        </div>
                  </div>
                  <!-- /Content box 3 -->
            </div>
            <!-- /Content row -->
      </div>
</div>
<!-- /Service wrap -->

<!-- Restaurants Near -->
<div class="skills-wrap">
      <div class="container">
            <!-- Title row -->
            <div class="row">
                  <div class="col-md-12 big-title wow bounceIn">
                        <h2>Restaurants Near Your Theater:</h2>
                  </div>

                  <div class="clearfix"></div>

                  <div class="col-md-12 sub-title text-center wow slideInRight">
                        <h3>What will you have for dinner after seeing <%=@movie%>?</h3>
                  </div>
            </div>
            <!-- /Title row -->

            <!-- Restaurants Form -->
            <div class="restaurants">
                  <%= render 'form' %>
            </div>
            <!-- /Restaurants Form -->
      </div>
</div>
<!-- /Restaurants Near -->