<h1>Restaurants near your theater:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Rating</th>
      <th>Phone Number</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant["name"] %></td>
        <td><% restaurant["categories"].each do |tag|%>
          <%= "#{tag[0]}, " %>
          <%end%> </td>
        <td><%= restaurant["rating"] %></td>
        <td><%= restaurant["display_phone"] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
