// Place all the styles related to the confirmations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert.alert-success.fade.in {
	margin-bottom: 0px;
	padding-bottom: 50px;
	font-size: 200%;
	text-align: center;
	background: #2eaef0;  
	border-color: #2eaef0; 
	color: white; 
}

footer{
  color:white;
  background-color:#252C34;
}

.flatiron-link:hover{
  color:#249eee;
  background-color:transparent;
  text-decoration:none;
}