// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove-list-number {
  list-style: none;
}

div.movie-title-info {
  display: none;
}

div.movie-runtimes {
  display: none;
}

@media screen and (orientation: portrait) {
  .site-logo a img { max-width: 112%; }
}

@media screen and (orientation: landscape) {
  .site-logo a img { max-height: 112%; }
}