// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove-list-number {
  list-style: none;
}

div.movie-title-info {
  display: none;
}

div.movie-runtimes {
  display: none;
}

h3{
		display: inline; 
}

h3:hover {
	color: #2eaef0;

}

h2{
	 background: -webkit-linear-gradient(#eee, #2eaef0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

