<!-- Agency team -->
                  <div class="team-wrap">
                        <div class="container">
                              <!-- Title row -->
                              <div class="row">
                                    <div class="col-md-12 big-title wow bounceIn">
                                          <h2>Agency Team</h2>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12 sub-title text-center wow slideInRight">
                                          <h3>Get to know the talented people behind 4DayOut</h3>
                                    </div>
                              </div>
                              <!-- /Title row -->

                              <!-- Team members row 1-->
                              <div class="row">
                                    <!-- item 1 -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInLeft">
                                          <div class="team-member">
                                                <div class="team-member-holder">
                                                      <div class="team-member-image">
                                                           <!--  <img alt="" src="../app/assets/images/edward_jasper_index_profile.jpg"> -->
                                                           <%= image_tag "/assets/edward_jasper_index_profile.jpg" %>
                                                            <div class="team-member-links">
                                                                  <div class="team-member-links-list">
                                                                        <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                                                                        <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                                                                        <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                                                                        <p>
                                                                              Lorem ipsum dolor sit amet, quis adipiscing elit.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="team-member-meta">
                                                            <h4 class="team-member-name">Christine Beaubrun</h4>  
                                                            <div class="team-member-role">
                  
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <!-- End -->
                                    <!-- item 2 -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInDown">
                                          <div class="team-member">
                                                <div class="team-member-holder">
                                                      <div class="team-member-image">
                                                            <img alt="" src="img/team/team-member-2.jpg">
                                                            <div class="team-member-links">
                                                                  <div class="team-member-links-list">
                                                                        <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                                                                        <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                                                                        <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                                                                        <p>
                                                                              Lorem ipsum dolor sit amet, quis adipiscing elit.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="team-member-meta">
                                                            <h4 class="team-member-name">Jessica Alba</h4>
                                                            <div class="team-member-role">
                                                                  CMO
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <!-- End -->
                                    <!-- item 3 -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInDown">
                                          <div class="team-member">
                                                <div class="team-member-holder">
                                                      <div class="team-member-image">
                                                            <img alt="" src="img/team/team-member-3.jpg">
                                                            <div class="team-member-links">
                                                                  <div class="team-member-links-list">
                                                                        <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                                                                        <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                                                                        <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                                                                        <p>
                                                                              Lorem ipsum dolor sit amet, quis adipiscing elit.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="team-member-meta">
                                                            <h4 class="team-member-name">Emma Watson</h4>
                                                            <div class="team-member-role">
                                                                  CFO
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <!-- End -->
                                    <!-- item 4 -->
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInRight">
                                          <div class="team-member">
                                                <div class="team-member-holder">
                                                      <div class="team-member-image">
                                                            <img alt="" src="img/team/team-member-4.jpg">
                                                            <div class="team-member-links">
                                                                  <div class="team-member-links-list">
                                                                        <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                                                                        <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                                                                        <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                                                                        <p>
                                                                              Lorem ipsum dolor sit amet, quis adipiscing elit.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="team-member-meta">
                                                            <h4 class="team-member-name">Atiar Rahman</h4>
                                                            <div class="team-member-role">
                                                                  CTO
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <!-- End -->
                              </div>
                              <!-- /Team members row 1-->
                        </div>
                  </div>
                  <!-- /Agency team -->
