// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#custom-button {
    border: 3px solid #fff;
    color: #fff;
    outline: none;
}

/* Button 1b */
#custom-button.custom-btn:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: white;
    color: white;
}

#custom-button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 70px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 101;
}

#custom-button.custom-btn:active {
    outline: none;
    color: white;
    text-decoration: white;
}

.text-slide li {
    font-size: 80px;
}

@media(max-width: 1580px) {
  .text-slide li {
    font-size: 80px;
  }
}
@media(max-width: 767px) {
  .text-slide li {
    font-size: 50px;
    line-height: 60px;
  }
}

@media(max-width: 480px) {
    .text-slide li {
    font-size: 25px;
    line-height: 30px;
  }
}