<h1>Welcome to 4 Days Out!</h1>
<h2>Please make your selection:</h2>
<form action="/movies" method="get">

  <label for="user_location">Find movies near: </label>
  <input type="text" id="user_location" name="user_location">

  <select name="day">
    <option type="hidden" id="today" name="day" value="0">Today</option>
    <option type="hidden" id="tomorrow" name="day" value="1">Tomorrow</option>
    <option type="hidden" id="next_day" name="day" value="2"><%= @next_day %></option>
    <option type="hidden" id="last_day" name="day" value="3"><%= @last_day %></option>
  </select>  
  
  <input type="submit" value="Submit">

</form>
