<div id="section" class="image-parallax" style="background-image: url(/assets/dateNight_background.jpg)"

                  <div class="bg-overlay">
                        <div class="slide-content light">
                              <div class="align-center">
                                    <!-- Top Logo -->
                                    <div class="top-logo">
                                          <div class="scrollNormal">
                                                <a href="#section2">
                                                      <img width="140" height="140" alt="Agency" src="img/logo_welcome.png">
                                                </a>
                                          </div>
                                          <div class="scrollDown">
                                                <a href="#section2">
                                                      <img width="140" height="140" alt="Agency" src="img/logo2_welcome.png">
                                                </a>
                                          </div> 
                                    </div>
                                        
                                        <%= render 'form' %>
